body {
    font-size: 16px;
    padding: 0;
    }

.content {
    outline: 1px solid #e0e0e0;
    padding: 8px;
    white-space: pre;
    }

.hello-div {
    background-color: #F2F0ED;
    padding: 8px;
    margin-top: 0;
    }

.list {
    list-style: none;
    padding: 0 0;
    margin: 12px 0;
    }

    .list li {
        padding: 4px;
        }

        .list button {
            padding: 8px;
            font-size: 15px;
            background-color: #efefef;
            border-radius: 4px;
            border: 1px solid #e0e0e0;
            }
